google-api-python-client==2.175.0
youtube-transcript-api==1.1.1

sentence-transformers==5.0.0
transformers==4.53.0
torch

scikit-learn==1.7.0
numpy==2.3.1

groq==0.29.0

tqdm==4.67.1

huggingface-hub==0.33.1

requests==2.32.4
python-dotenv==1.1.1
